#footer {
    font-family: var(--mainKor-font);
    color: var(--white2);
}

    .footer__inner {
        padding: 16px;
        padding-top: 12rem;

        .footer__text {
            font-size: 12px;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
        }
        
        .footer__info {
            display: flex;
            justify-content: space-between;
            margin: 1vh 0;

            .left {
                width: 45%;
            }
            .left .title {
                border-top: 2px solid var(--white2);
                padding: 20px 0;
                text-transform: uppercase;
                font-weight: 700;
                background: url() no-repeat right 20px;
                transition: all 0.3s;
            }
            .left .title:hover {
                background-color: var(--white3);
                padding-left: 10px;
                border-color: transparent;
                color: #242595;
            }
            .left .desc {
                font-size: 0.8rem;
                padding-top: 1.2rem;
                color: var(--white2);
            }
            .right {
                width: 50%;
                
                h3 {
                    border-top: 2px solid var(--white2);
                    font-size: 1rem;
                    margin-bottom: 40px;
                    margin-top: 0;
                    padding-top: 10px;
                }
                ul {
                    /* border-top: 1px solid var(--white3); */
                    padding: 0;
                    color: var(--white3);
                }
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    list-style-type: none;
                    padding: 2vh 3vh;
                }
                /* li:last-child{
                    border-bottom: 1px solid var(--white3);
                } */
                li:hover {
                    background-color: #242595;
                    border-color: transparent;
                    border-radius: 5vh;
                        a{
                            color: #fff;
                        }
                        .em{
                            color: #6669f8;
                        }
                }
                li a {
                    padding: 0.6rem 0;
                    font-size: 1.8vh;
                    font-weight: 400;
                    display: inline-block;
                    text-transform: uppercase;
                    color: var(--white3);
                    text-decoration: none;
                    transition: all 0.2s;
                    margin-left: 1vw;
                    margin-right: 1vw;
                }
                li .em {
                    color: var(--white3);
                    font-size: 1.4vh;
                    padding: 0 1vh;
                    opacity: 0;
                    transition: all 0.3s;
                }
                li:hover .em {
                    opacity: 1;
                }
            }
        }
        .footer__right {
            text-align: center;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 12px;
            margin-bottom: 20px;
        }
    }   

    @media (max-width: 800px){
        .footer__inner .footer__info {
            flex-direction: column;
        }
        .footer__inner .footer__info .left {
            width: 100%;
            display: none;
        }
        .footer__inner .footer__info .left .desc {
            margin-bottom: 40px;
        }
        .footer__inner .footer__info .right {
            width: 100%;
        }
        .footer__inner .footer__info .right h3{
            font-size: 1.6rem;
        }
    }