#intro {
    height: 100vh;
}
.intro__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 16px;

    @media (max-width: 800px){
        justify-content: center;
    }

    .intro__title {
        font-size: 10vw;
        text-transform: uppercase;
        line-height: 1;
        font-weight: 800;
        white-space: nowrap;
        text-indent: -0.5vw;
        letter-spacing: -0.3vw;

        @media (max-width: 320px){ 
            display: none;
        }
    }
    .flowText {
        width: 100%;
        height: 20rem;
        display: flex;
        position:relative;
        flex: 0 0 auto;
        white-space: nowrap;
        overflow: hidden;
        transition: 0.3s;
        font-size: 14rem;
        font-weight:bold;
        color: #ffffff0e;
        justify-content: center;
        z-index: 100;
    
        &:hover{
            color: #24269544;
    
            .flowWrap {
                animation-play-state: paused;
                cursor:default;
              }
          }
    }
    
    .flowWrap {
      animation: textLoop 200s linear infinite;
      padding-right: 1.4881vw;
      cursor: default;
    
    }
    
    
    @keyframes textLoop {
      0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }
    }
    
    .intro__text {
        width: 100%;
        height: 40vh;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .text {
            font-size: 3vw;
            line-height: 1;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            position: relative;
            z-index: 100;
            transition: all 0.3s;
            cursor: none;

            @media (max-width: 800px){ 
                font-size: 24px;
            }
        }
        .img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 30vh;
            height: 30vh;
            border-radius: 50%;
            overflow: hidden;
            filter: blur(2px) opacity(60%) drop-shadow(8px 8px 12px #282c96) ;
            transition: all 0.2s;

            @media (max-width: 320px){ 
                width: 20vh;
                height: 20vh;
            }
        }

        &:hover .text {
            opacity: 0;
        }
        &:hover .img {
            filter: opacity(90%) drop-shadow(8px 8px 12px #282c96);
            width: 28vh;
            height: 28vh;
        }
    }
    .intro__lines {
        width: 100%;

        .line {
            display: block;
            width: 100%;
            height: 1px;
            background-color: var(--white4);
            margin-bottom: 0.5vw;

            &:nth-child(1){
                height: 1px;
            }
            &:nth-child(2){
                height: 2px;
            }
            &:nth-child(3){
                height: 5px;
            }
            &:nth-child(4){
                height: 9px;
            }
            &:nth-child(5){
                height: 13px;
            }
            &:nth-child(6){
                height: 17px;
            }
            &:nth-child(7){
                height: 25px;
            }
        }

        &.bottom {
            .line {
                margin-top: 0.5vw;
                margin-bottom: 0;
                display: none;

                @media (max-width: 800px){ 
                    display: block;
                }

                &:nth-child(1){
                    height: 25px;
                }
                &:nth-child(2){
                    height: 17px;
                }
                &:nth-child(3){
                    height: 13px;
                }
                &:nth-child(4){
                    height: 9px;
                }
                &:nth-child(5){
                    height: 5px;
                }
                &:nth-child(6){
                    height: 2px;
                }
                &:nth-child(7){
                    height: 1px;
                }
            }
        }
    }
}
