#port {
    width: 100%;
    margin-top: 30vh;
    // overflow: hidden;
}
.port__inner {
    padding: 16px;
    margin-bottom: 30vh;

    .port__title {
        bottom: 16rem;
        width: 100%;
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.6;
        font-family: 'Spoqa Han Sans Neo';
        text-transform: uppercase;
        color: #fff;
        border-bottom: 0.1vw solid #b2b4ff;
        margin-bottom: 100px;
    }
    .port__title em {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 2;
    }
    @media (max-width: 800px){
        .port__title {
            width: 100vw;
            margin-bottom: 10vw;
            font-size: 30px;
            height: auto;
            top: 8rem;
            z-index: 1000;
        }}

    .port__wrap {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        width: 7000px;

        .port__item {
            width: 500px;
            height: 75vh;
            background-color: #ffffff1a;
            color: #b2b4ff;
            padding: 2.5rem;
            margin-right: 20px;
            border-radius: 1%;
            
            &:first-child{
                border: 4px solid #30b3ff;

                .title::first-letter {
                    color: #30b3ff;
                }
            }

            .num {
                font-size: 2rem;
                font-family: var(--mainNum-font);
                color: #cccdff;
            }
            .img {
                display: block;
                margin-top: -20px;
                transition: margin-top 0.3s;

                img {
                    border-radius: 5px;
                    height: 14rem;
                    filter: saturate(0%);
                    transition: all 0.3s;
                    margin-bottom: 1vw;
                }
                
                &:hover {
                    margin-top: 0;

                    img {
                        filter: saturate(100%);
                    }
                }
            }
            .title {
                font-size: 1.5rem;
                text-align: center;
                padding: 0.8rem 0;
                font-weight: 700;
                color: var(--black100);
                border-bottom: 2px solid #8185ff;
                margin-bottom: 1rem;
                color: #edeeff;
            }
            .desc {
                font-size: 1rem;
            }
            .site {
                border: 1px solid #b4b6ff;
                display: block;
                text-align: center;
                padding: 0.625rem 1.5rem;
                margin-top: 1.5rem;
                transition: all 0.2s;

                &:hover {
                    background-color: #b4b7ffa2;
                    border: none;
                    color: #25279f;
                }
            }
        }
    }
}